<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <br><br>
            <div class="row">
                <div class="col encabezado">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                      aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" role="img" focusable="false">
                      <title>{{nombre}}</title>
                      <image href="https://media-exp1.licdn.com/dms/image/C4D03AQFsxJHA10t_Cw/profile-displayphoto-shrink_200_200/0/1653770264848?e=1664409600&v=beta&t=S5lmfO_0P1zby4a59kGiBUSOQgYURtLu2vKaAkZo1nI" height="100%" width="100%"/>
                    </svg>
                </div>
                
                <div class="col encabezado">
                    <h4 class="text-white">About me</h4>
                    <p class="text-muted">Mi nombre es {{nombre}} de Santa Fe pero vivo en Paraná, soy Ingeniero en alimentos, 
                        técnico químico y full stack developer. Además doy clases particulares de lo que se te cante. 
                        Toco la guitarra, hago cualquier deporte, me gustan los animales y soy un loco del mate.</p>
                </div>
                
                <div class="col encabezado">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Follow on Twitter</a></li>
                        <li><a href="#" class="text-white">Like on Facebook</a></li>
                        <li><a href="#" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark fixed-top shadow-sm">
        <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
                
                <strong>Portfolio</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>