<!-- ACA PUSE UN PDF QUE SE VE EN LA PAGINA -->
<div id=experiencia class="container">
    <br>
    <br>
    <br>
    <div class="col-md-15">
        <h1>Experiencia</h1>
        <div class="card mb-10" style="text-align: center; background-color: inherit; border: inherit;">
            <div style="height: 300px">
                <!-- <iframe src="files\CV FACUNDO WEGHER.pdf"> -->
                <!-- </iframe> -->
            </div>
        </div>
    </div>
  
    <div class="col-md-15">
        <a href="files\CV FACUNDO WEGHER.pdf">
            <br>
            <button type="submit" class="btn btn-primary">Descargar PDF</button>
        </a><br>
    </div>
  </div>