<!-- BOX DE CONTACTO -->
<div class="container" style="background-color: inherit;">
    <br>
    <br>
    <br>
    <br>
    <div class="bg-success p-2" style="--bs-bg-opacity: .5;">
        <div class="col-md-15" style="background-color: inherit;">
            <div id="contact" class="card mb-10" style="padding: 40px; background-color: inherit; border: 10px;">
                <h2>Contactate conmigo</h2>
                <form method="POST" action="https://formspree.io/f/mrgjkldq">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Correo Electrónico</label>
                        <br>
                        <input type="hidden" name="_subject" value="Contact request from personal website" />
                        <input type="email" name="_replyto" placeholder="Su correo" required><br>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Escriba aquí</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Su mensaje"
                            rows="3"></textarea>
                        <br>
                        <button type="submit" class="btn btn-primary">Enviar</button>
  
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>