<!-- ACERCA DE MI -->
<div id=aboutMe  class="container" style="background-color: inherit;">
    <br>
    <br>
    <br>
    <div class="bg-success p-2" style="--bs-bg-opacity: .5;">
        <div class="col-md-15" style="background-color: inherit; padding: 40px;">
            <h1>
                Acerca de mi
            </h1>
            <p>
                Soy un Ingeniero en Alimentos oriundo de Santa Fe, en busca de mi camino y aprendiendo todo lo que
                puedo.
                <br>
                Actualmente me encuentro realizando un curso de programación de videojuegos en PixiJS y
                #ArgentinaPrograma.
            </p>
        </div>
    </div>
  </div>