<!-- PROYECTOS -->
<div id=proyectos class="container">
    <br>
    <br>
    <br>
    
<h1>
    Proyectos
</h1>
<div class="bg-success p-2" style="--bs-bg-opacity: .5;">
    <div class="row align-items-start">
        <div class="col">
            <div class="card mb-3" style="width: 18rem;">
                <!-- <img src="images/descarga.jpg" class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">Página1</h5>
                    <p class="card-text">Proyecto de Página 1</p>
                    <a href=# class="btn btn-primary">Ir</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3" style="width: 18rem;">
                <!-- <img src="images/descarga.jpg" class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">Página2</h5>
                    <p class="card-text">Proyecto de Página 2</p>
                    <a href=# class="btn btn-primary">Ir</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3" style="width: 18rem;">
                <!-- <img src="images/descarga.jpg" class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">Página3</h5>
                    <p class="card-text">Proyecto de Página 3</p>
                    <a href=# class="btn btn-primary">Ir</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
