<div id=educacion class="container" style="background-color: inherit;">
    <br>
    <br>
    <br>
    <div class="bg-success p-2" style="--bs-bg-opacity: .5;">
        <div class="col-md-15" style="background-color: inherit; padding: 40px;">
            <h1>
                Educación
            </h1>
            <p>
                Ingeniero en Alimentos. FIQ - UNL 
                <br>
                Técnico Químico. FIQ - UNL
                <br>
                Full Stack Developer (in process)
            </p>
        </div>
    </div>
  </div>