<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' class="bd-placeholder-img">
            <rect fill='#330000' width='100%' height='100%' />
            <defs>
                <radialGradient class="bd-placeholder-img" gradientUnits='userSpaceOnUse'>
                    <stop offset='0' stop-color='#D18' />
                    <stop offset='1' stop-color='#330' />
                </radialGradient>
                <linearGradient id='b' gradientUnits='userSpaceOnUse' class="bd-placeholder-img">
                    <stop offset='0' stop-color='#FA3' stop-opacity='0' />
                    <stop offset='1' stop-color='#FA3' stop-opacity='0.5' />
                </linearGradient>
            </defs>
            <rect fill='url(#fff)' class="bd-placeholder-img" />
            <g fill-opacity='0.4'>
                <circle fill='url(#b)' cx='267.5' cy='61' r='300' />
                <circle fill='url(#b)' cx='532.5' cy='61' r='300' />
                <circle fill='url(#b)' cx='400' cy='30' r='300' />
            </g>
        </svg>
        

        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Proyectos de páginas Web</h1>
            <p>Aquí encontrarás diversos modelos de páginas web para al camino que hayas tomado o desees emprender.
            </p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Vamos!</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' class="bd-placeholder-img">
          <rect fill='#000000' width='1600' height='800' />
          <g fill-opacity='1'>
            <polygon fill='#222222' points='800 100 0 200 0 800 1600 800 1600 200' />
            <polygon fill='#444444' points='800 200 0 400 0 800 1600 800 1600 400' />
            <polygon fill='#666666' points='800 300 0 600 0 800 1600 800 1600 600' />
            <polygon fill='#888888' points='1600 800 800 400 0 800' />
            <polygon fill='#aaaaaa' points='1280 800 800 500 320 800' />
            <polygon fill='#cccccc' points='533.3 800 1066.7 800 800 600' />
            <polygon fill='#EEE' points='684.1 800 914.3 800 800 700' />
          </g>
        </svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>Juegos</h1>
            <p>No todo tiene por qué ser trabajo (o si). Aquí podrás ver los últimos proyectos en los que hemos estado
              trabajando. Te interesa?</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Ver más!</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' class="bd-placeholder-img">
          <rect fill='#000000' width='100%' height='100%' />
          <g fill-opacity='1'>
            <circle fill='#000000' cx='400' cy='400' r='600' />
            <circle fill='#230046' cx='400' cy='400' r='500' />
            <circle fill='#2f0052' cx='400' cy='400' r='400' />
            <circle fill='#3b075e' cx='400' cy='400' r='300' />
            <circle fill='#48156a' cx='400' cy='400' r='200' />
            <circle fill='#552277' cx='400' cy='400' r='100' />
          </g>
        </svg>

        <div class="container">
          <div class="carousel-caption text-right">
            <h1>Aplicaciones</h1>
            <p>Sector en desarrollo. Aquí podrás encontrar algunos prototipos de aplicaciones. Quién sabe, quizás
              hasta
              podrías formar parte de esto.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Ver</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>